@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.menu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
    padding-top: 35px;
    padding-bottom: 25px;
}
body{padding: 0;margin: 0;}
.menu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.2em;
  overflow: hidden;
}
.menu a {
    color:pink;
  padding: 0 0.5em 0 0.2em;
  
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.menu a:before,
.menu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
    
}
.menu a:before {
  right: 100%;
  display: block;
  width: 3px;
  height: 100%;
  content: "";
  background-color: lightpink;
}
.menu a:after {
  padding: 0 0.5em 0 0.2em;
  position: absolute;
  right: 100%;
  top: 0;
  content: attr(data-hover);
  color: dimgray;
  white-space: nowrap;
}
.menu li:hover a,
.menu .current a {
    
    transform: translateX(100%)} 
.logo-menu img{width: 5%;}
.logo-menu {display: inline;}





/* MENU END */











/* SLIDER */


   @font-face {
    font-family: font1; /* Гарнитура шрифта */
    src: url(fonts/andantino.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: font2; /* Гарнитура шрифта */
    src: url(fonts/roboto.ttf); /* Путь к файлу со шрифтом */
   }

.slider img {width: 100%;}
.slider-text{    position: absolute;
    margin-top: -650px;
    margin-left: 410px;
    color: white;
    font-size: 70px;
    text-align: center}
.slider-text  span {font-family: 'font1', arial;
    font-size: 45px;}

.slider-text2 {
    position: absolute;
    margin-top: -750px;
    margin-left: 300px;
    color: white;
    font-size: 70px;
    text-align: center;
    
}
.slider-text2  span {font-family: 'font1', arial;
    font-size: 45px;}






















/* ABOUT-US */
.about-div{margin-top: 200px}
@font-face {
    font-family: font3; /* Гарнитура шрифта */
    src: url(fonts/taurus.ttf); /* Путь к файлу со шрифтом */
   }
.about{display: inline-block;margin-left: 20px;}
.p1{
    width: 300px;
    text-align: center;
    color: dimgray;
    text-transform: uppercase;
    font-family: 'font3', arial;
}
.p2 {    text-transform: inherit;
    text-align: center;
    width: 200px;
    padding-left: 45px;
     font-family: 'font2', arial;
    font-size: 15px;
}
.about-div h1{text-align: center;
    font-size: 45px;
    color: lightpink;
    text-transform: uppercase;
    font-family: 'font3', arial;
}
.border{    border: 1px solid;
    width: 95px;
    margin-left: 101px;
    margin-top: -10px;
    border-color: pink;}






/* Анимация секции */
 
@-webkit-keyframes about {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
@keyframes about {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
.about:hover {
  -webkit-animation: about 1.5s ease;
  animation: about 1.5s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}



/* Конец анимки */
/* ABOUT-US END */












/* HISTORY START */

@font-face {
    font-family: font4; /* Гарнитура шрифта */
    src: url(fonts/present.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: font5; /* Гарнитура шрифта */
    src: url(fonts/mon-amour.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: font6; /* Гарнитура шрифта */
    src: url(fonts/font6.ttf); /* Путь к файлу со шрифтом */
   }


.history h1
{
    font-family: 'font4', arial;
    margin-top: 180px;
    text-align: center;
    font-size: 45px;
    color: lightpink;
    text-transform: uppercase;
    
}
.history-div{display: inline-block;border: 1px solid;padding: 5px 0px 10px 5px;width:450px;margin-left: 40px;margin-bottom: 40px;
}
.div-1{margin-left: 175px}
.num{
    color:dimgray;
    font-family: 'font5', arial;
    display: inline-block;    padding: 10px 50px 10px 20px;
    font-size: 40px;}
.day{
    color:dimgray;
    font-family: 'font6', arial;
    display: inline-block;    font-size: 50px;
    text-transform: uppercase;
}
.text{
    color:lightpink;
    font-family: 'font5', arial;;
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -170px}

.history-div div{display: inline-block;}

.num1{padding-left: 60px;}
.day1{    padding-left: 20px;}
.text1{padding-left: 62px;
    width: 230px;margin-top: -1px;}
.text2{    
        padding-left: 73px;
        width: 244px;margin-top: -1px;
}
.text3{width: 318px;padding-left: 69px;margin-top: -1px;}
.text0{margin-top: -1px;margin-left: -200px}
.history-img{text-align: center;margin-bottom: 50px;}


.day0{    margin-left: 25px;}
.history-div:hover{background-color: ghostwhite;}




/* HISTORY END */







/* REVIEWS START */


.reviews h1
{
    font-family: 'font4', arial;
    margin-top: 100px;
    text-align: center;
    font-size: 45px;
    color: dimgray;
    text-transform: uppercase;
}
.reviews {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
    padding-top: 35px;
    padding-bottom: 25px;
}
.reviews * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.reviews li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.2em;
  overflow: hidden;
}
.reviews a {
    color:pink;
  padding: 0 0.5em 0 0.2em;
  
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.reviews a:hover{color:dimgray}
/*Reviews END */


.tab {width: 850px; 
text-transform: none; 
margin-left: 250px; 
color: slategray; 
font-family: font4; 
font-size: 21px;}
.tabs-menu a{ font-family: font3, 'arial';}



/* CONTACT START */


.contacts h1
{
    font-family: 'font4', arial;
    margin-top: 100px;
    text-align: center;
    font-size: 45px;
    color: dimgray;
    text-transform: uppercase;
}
.contacts-img{text-align: center;}


.contact {
    background-color: lightpink;
		position: absolute;
		left: 50%;
		top: 402%;
		margin-left: -125px;
		margin-top: -125px;
		height: 250px;
		width: 250px;
		border-radius: 2px;
		-ms-border-radius: 2px;
		-moz-border-radius: 2px;
		-o-border-radius: 2px;
		-webkit-border-radius: 2px;
}
.contact .envelope {
		position: absolute;
		height: 93px;
		width: 165px;
		left: 50%;
		margin-left: -83px;
		top: 50%;
		margin-top: -50px;
		background: #F9F9F9;
		
		transition: margin-top 300ms;
		-ms-transition: margin-top 300ms;
		-moz-transition: margin-top 300ms;
		-o-transition: margin-top 300ms;
		-webkit-transition: margin-top 300ms;
}
.contact:hover .envelope {
		transition-delay: 150ms;
		-ms-transition-delay: 150ms;
		-moz-transition-delay: 150ms;
		-o-transition-delay: 150ms;
		margin-top: -20px;
}
.contact .envelope .top {
		position: absolute;
		top: -3px;
		left: 0px;
		width: 100%;
		height: 73px;
		z-index: 30;
		overflow: hidden;
						
		transform-origin: top;
		-ms-transform-origin: top;
		-moz-transform-origin: top;
		-o-transform-origin: top;
		-webkit-transform-origin: top;
					
		transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-ms-transition: -ms-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-moz-transition: -moz-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-o-transition: -o-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
		-webkit-transition: -webkit-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}
.contact:hover .envelope .top {
		transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-ms-transition: -ms-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-moz-transition: -moz-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-o-transition: -o-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		-webkit-transition: -webkit-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
		
		height: 10px;
		top: -60px;
		
		transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
		-o-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
}
.contact .envelope .outer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		border-left: 83px solid transparent;
		border-right: 82px solid transparent;
		border-top: 70px solid #EEE;
}
.contact .envelope .outer .inner {
		position: absolute;
		left: -81px;
		top: -73px;
		border-left: 81px solid transparent;
		border-right: 80px solid transparent;
		border-top: 68px solid #333;
}
.contact .envelope .bottom {
		position: absolute;
		z-index: 20;
		bottom: 0px;
		left: 2px;
		border-left: 81px solid transparent;
		border-right: 80px solid transparent;
		border-bottom: 45px solid #333;
}
.contact .envelope .left {
		position: absolute;
		z-index: 20; top: 0px;
		left: 0px;
		border-left: 81px solid #333;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
}
.contact .envelope .right {
		position: absolute;
		z-index: 20;
		top: 0px;
		right: 0px;
		border-right: 80px solid #333;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
}
.contact .envelope .cover {
		position: absolute;
		z-index: 15;
		bottom: 0px;
		left: 0px;
		height: 55%;
		width: 100%;
		background: #EEE;
}
.contact .envelope .paper {
		position: absolute;
		height: 83px;
		padding-top: 10px;
		width: 100%;
		top: 0px;
		left: 0px;
		background: #F9F9F9;
		z-index: 10;
		transition: margin-top 300ms 0ms;
		-ms-transition: margin-top 300ms 0ms;
		-moz-transition: margin-top 300ms 0ms;
		-o-transition: margin-top 300ms 0ms;
		-webkit-transition: margin-top 300ms 0ms;
}
.contact:hover .envelope .paper {
		margin-top: -60px;
		transition: margin-top 300ms 150ms;
		-ms-transition: margin-top 300ms 150ms;
		-moz-transition: margin-top 300ms 150ms;
		-o-transition: margin-top 300ms 150ms;
		-webkit-transition: margin-top 300ms 150ms;
}
.contact .envelope .paper a {
    
		position: relative;
		display: block;
		font-size: 14px;
		margin: 5px;
		margin-bottom: 0px;
		text-align: center;
		color: #333;
		text-decoration: none;
}
.contact .envelope .paper a.call .i {
		position: absolute;
		top: 2px;
		left: 20px;
		display: inline-block;
		width: 3px;
		height: 5px;
		border-width: 5px 0 5px 2px;
		border-style: solid;
		border-color: #555;
		background: transparent;
		
		transform: rotate(-30deg);
		-ms-transform: rotate(-30deg);
		-moz-transform: rotate(-30deg);
		-o-transform: rotate(-30deg);
		-webkit-transform: rotate(-30deg);

		border-top-left-radius: 3px 5px;
		border-bottom-left-radius: 3px 5px;
		-moz-border-radius-topleft: 3px 5px;
		-moz-border-radius-bottomleft: 3px 5px;
		-webkit-border-top-left-radius: 3px 5px;
		-webkit-border-bottom-left-radius: 3px 5px;
																																				
		transition: border-color 300ms;
		-ms-transition: border-color 300ms;
		-moz-transition: border-color 300ms;
		-o-transition: border-color 300ms;
		-webkit-transition: border-color 300ms;
}
.contact .envelope .paper a {
		color: #333;
        font-family: font2;
		transition: color 200ms;
		-ms-transition: color 200ms;
		-moz-transition: color 200ms;
		-o-transition: color 200ms;
		-webkit-transition: color 200ms;
}
.contact .envelope .paper a:hover {
		color: #EEE;
}
.contact .envelope .paper a.call:hover .i {
		border-color: #DDD;
}
.contact .envelope .paper a.mail .i {
		position: absolute;
		top: 0px;
		left: 17px;
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
}


/* CONTACT END */


footer{    background-color: seashell;;
    margin-top: 500px;
    height: 170px;}
.footer-img{text-align: center}
.footer-img img{    width: 12%;}